<h2>Todos</h2>
<form {{action 'create' newTodo on='submit'}} class='ui form'>
  <div class='field'>
    <label>Title</label>
    {{input placeholder='Whatcha go going on.' value=newTodo}}
  </div>
  <button class='ui button' type="submit">Create</button>
</form>

<h4>Outstanding</h4>
<table class="ui basic table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.todos as |todo|}}
      {{#unless todo.complete}}
        <tr>
          <td>{{todo.title}}</td>
          <td>
            <button class='ui button' {{action 'complete' todo}}>Complete</button>
          </td>
        </tr>
      {{/unless}}
    {{/each}}
  </tbody>
</table>

<h4>Completed</h4>
<table class="ui basic table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.todos as |todo|}}
      {{#if todo.complete}}
        <tr>
          <td>{{todo.title}}</td>
          <td> Done </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
